### macOS template
# General
.DS_Store
.AppleDouble
# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### JetBrains template
# User-specific stuff
*.iws
# mpeltonen/sbt-idea plugin
.idea/
.idea_modules/

## React and Node
.env
node_modules/
api/public/
pwa/build/

yarn.lock
